_wandb:
    value:
        cli_version: 0.21.4
        e:
            2al0hnyzla0c6ahckefn99w161som6ds:
                args:
                    - --model-config
                    - model_config.yaml
                    - --train-config
                    - train_config.yaml
                codePath: part2\train.py
                codePathLocal: train.py
                cpu_count: 14
                cpu_count_logical: 20
                cudaVersion: "13.0"
                disk:
                    /:
                        total: "1000270196736"
                        used: "871260758016"
                email: ben.hoggenator@gmail.com
                executable: C:\Users\benho\Documents\GitHub\cw2_2025_2026-students\.venv\Scripts\python.exe
                git:
                    commit: 230e76292099ea50e8205e62fdbb94bb35627911
                    remote: https://github.com/CordlessGnu/cw2_2025_2026-students.git
                gpu: NVIDIA GeForce RTX 3060 Laptop GPU
                gpu_count: 1
                gpu_nvidia:
                    - architecture: Ampere
                      cudaCores: 3840
                      memoryTotal: "6442450944"
                      name: NVIDIA GeForce RTX 3060 Laptop GPU
                      uuid: GPU-0b3fb2b1-5bca-d5da-75c7-a60a8b1cfb3f
                host: BenLaptop
                memory:
                    total: "34029162496"
                os: Windows-10-10.0.26200-SP0
                program: C:\Users\benho\Documents\GitHub\cw2_2025_2026-students\part2\train.py
                python: CPython 3.11.5
                root: C:\Users\benho\Documents\GitHub\cw2_2025_2026-students\part2
                startedAt: "2025-11-25T15:35:21.414068Z"
                writerId: 2al0hnyzla0c6ahckefn99w161som6ds
        m: []
        python_version: 3.11.5
        t:
            "1":
                - 1
            "2":
                - 1
            "3":
                - 13
                - 16
                - 61
            "4": 3.11.5
            "5": 0.21.4
            "8":
                - 3
            "12": 0.21.4
            "13": windows-amd64
betas:
    value:
        - 0.9
        - 0.95
block_size:
    value: 128
decay_lr:
    value: true
dev_batch_size:
    value: 128
dropout:
    value: 0.1
grad_clip:
    value: 1
log_every:
    value: 10
lr:
    value: 0.0006
max_epoch:
    value: 30
min_lr:
    value: 6e-05
n_embed:
    value: 64
n_head:
    value: 4
n_layer:
    value: 4
patience:
    value: 5
seed:
    value: 0
train_batch_size:
    value: 32
valid_niter:
    value: 2000
vocab_size:
    value: 15003
warmup_percent_iters:
    value: 0.1
weight_decay:
    value: 0.1
